<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-3">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p class="titleP">TSF POOL</p>
        <h4 class="payMin">
          Minimum payout 1 TSF
        </h4>
      </div>
      <div class="col-md-3"></div>
    </div>
    <div class="row">
      <div class="col-md-12 stats">
        <div class="stats-box">
          <div class="btn btn-primary btn-fw statisticDiv">{{t "home.miners_online"}}: <span
              id="poolHashrate">{{format-number stats.model.minersTotal}}</span></div>
          <div class="btn btn-primary btn-fw statisticDiv">{{t "home.pool_hashrate"}}: <span
              id="poolHashrate">{{format-hashrate stats.model.hashrate}}</span></div>
          <div class="btn btn-primary btn-fw statisticDiv">{{t "home.pool_fee"}}: <span id="poolFee"
              class="label label-success">{{config.PoolFee}}</span></div>
          <div class="btn btn-primary btn-fw statisticDiv">{{t "home.network_difficulty"}}: <span>{{with-metric-prefix
              stats.difficulty}}</span></div>
          <div class="btn btn-primary btn-fw statisticDiv">{{t "home.network_hashrate"}}: <span>{{format-hashrate
              stats.hashrate}}</span></div>
          <div class="btn btn-primary btn-fw statisticDiv">{{t "home.blockchain_height"}}: <span>{{format-number
              stats.height}}</span></div>
          <div class="btn btn-primary btn-fw statisticDiv">{{t "home.current_round_variance"}}: <span>{{format-number
              stats.roundVariance style='percent'}}</span></div>
          {{#if stats.model.stats.lastBlockFound}}
          <div class="btn btn-primary btn-fw statisticDiv">{{t "home.last_block_found"}}: <span>{{format-relative
              (seconds-to-ms stats.model.stats.lastBlockFound)}}</span></div>
          {{/if}}
        </div>
      </div>
    </div>
    {{!-- <div class="stats">
      <h3>{{t "home.query_history"}}</h3>
    </div> --}}
  </div>
</div>
<div class="container-fluid">
  <div class="space"></div>
  <div class="container">
    <div class="input-group">
      {{input value=cachedLogin class="form-control" placeholder=(t "home.input.enter_your_wallet_address")}}
      <span class="input-group-btn">
        <button class="btn btn-search" type="button" {{action 'lookup' cachedLogin}}>
          <span style="display: inline;"><i class="fa fa-search"></i> {{t "home.button.lookup"}}</span>
        </button>
      </span>
    </div>
    <div class="space"></div>
    {{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
  </div>
  <div class="space"></div>
  <div class="containter-fluid">
    <div class="row">
      <div class="col-md-4 text-center ma">
        <div class="borderBox1">
          <h5>
            <span class="label label-success">2b</span>&nbsp;<a href="./#/help" title={{t "home.settings.help" }}><b>{{t
                "home.settings.title" hashes="< 150"}}</b></a>
            <br>
            {{t "home.settings.difficulty" diff="2"}}

            <br><br>
            <b>{{t "home.settings.stratum_mining"}}:</b>
            <br><br>
            <code>stratum+tcp://{{config.StratumHost}}:8002</code>
          </h5>
        </div>
      </div>
      <div class="col-md-4 text-center ma">
        <div class="borderBox1">
          <h5>
            <span class="label label-success">4b</span>&nbsp;<a href="./#/help" title={{t "home.settings.help" }}><b>{{t
                "home.settings.title" hashes="150 - 800"}}</b></a>
            <br>
            {{t "home.settings.difficulty" diff="4"}}
            <br><br>
            <b>{{t "home.settings.stratum_mining"}}:</b>
            <br><br>
            <code>stratum+tcp://{{config.StratumHost}}:8004</code>
          </h5>
        </div>
      </div>
      <div class="col-md-4 text-center ma">
        <div class="borderBox1">
          <h5>
            <span class="label label-success">9b</span>&nbsp;<a href="./#/help" title={{t "home.settings.help" }}><b>{{t
                "home.settings.title" hashes="> 800"}} & NiceHash</b></a>
            <br>
            {{t "home.settings.difficulty" diff="9"}}
            <br><br>
            <b>{{t "home.settings.stratum_mining"}}:</b>
            <br><br>
            <code>stratum+tcp://{{config.StratumHost}}:8009</code>
          </h5>
        </div>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <hr>
  <div class="space"></div>
  <div class="containter-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="borderBox">
          <h4>
            <b>Phoenix settings:</b>
            <br> SET GPU_FORCE_64BIT_PTR 0
            <br> SET GPU_MAX_HEAP_SIZE 100
            <bt></bt> SET GPU_USE_SYNC_OBJECTS 1
            <br> SET GPU_MAX_ALLOC_PERCENT 100
            <br> SET GPU_SINGLE_ALLOC_PERCENT 100
            <br>
            <br>
            <b>PhoenixMiner.exe -epool eu.tsfpool.com:8004 -worker RIG_ID -wal YOUR_ADDRESS -pass x -rmode 2 </b>
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="borderBox">
          <h4>
            <b>Teamredminer settings:</b>
            <br> windows_tdr_fix has to be activated
            <br> enable compute graphic card
            <br>
            <br>
            <b>teamredminer.exe -a ethash -o stratum+tcp://eu.tsfpool.com:8004 -u YOUR_ADDRESS -p x --enable_compute
            </b>
          </h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="borderBox">
          <h4>
            <b>LolMiner (v1.22) settings:</b>
            <br>
            <br>
            (Simple Mining)
            <br>
            <br>
            <b>lolMiner.exe --algo ETHASH --pool eu.tsfpool:8004 --user YOUR_ADDRESS --apiport 4444</b>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="space1" style="text-align: center;padding-top: 70px;">
  <a href="http://libertasgh.com/assets/pdf/Website%20Terms%20and%20Conditions%20and%20Privacy%20Policy.pdf" target="_blank">terms and conditions &amp; privacy policy</a></div>
</div>